 <footer class="bg-dark text-white text-center py-4 mt-5">
        <div class="container">
            <p class="mb-0 small">&copy; 2026 منصة مستشارك التعليمية - جميع الحقوق محفوظة د. إميل مجدي</p>
        </div>
    </footer>