
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold text-primary fs-4" href="/">مستشارك 🎓</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 padding-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teachers">المدرسين</a>
                </li>
            </ul>
            
            <div class="d-flex gap-2">
                <a href="/login" class="btn btn-outline-light btn-sm px-3">تسجيل الدخول</a>
                <a href="/sign-up" class="btn btn-primary btn-sm px-3 fw-bold">إنشاء حساب</a>
            </div>
        </div>
    </div>
</nav>
